@font-face{
    font-family: "MyFont";
    font-style: normal;
    font-weight: normal;
    src:
        url('./Montserrat-Medium.ttf') format('ttf'),
        url('./Montserrat-Regular.ttf') format('ttf');
}

.hello{
    color: red;
    font-family: "MyFont";
}

img{
    width: 50%;
}